html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#frameCounter {
    position: fixed;
    right : 0;
    color: green;
    font-weight: bold;
    z-index: 10;
    display: block;
}

#playground {
    position: relative;
    height: 100vh;
    aspect-ratio: 1/1;
    border: none;
    box-sizing: border-box;
}

#floor {
    height: 20px;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
}
#left-wall {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: black;
}
#right-wall {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: black;
}
#ceiling {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 100%;
    background-color: black;
}

/* Menu */
#gravityButton {
    border: 1px solid black;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    cursor: pointer;
    padding: 0.5em;

    &:hover {
        background-color: rgba(128, 128, 128, 0.461);
    }
}