html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

#frameCounter {
    position: fixed;
    right : 0;
    z-index: 10;
    display: block;
    color: green;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
}

#playground {
    position: relative;
    height: 100vh;
    aspect-ratio: 1/1;
    border: none;
    box-sizing: border-box;
    background-color: white;
}

#floor {
    height: 20px;
    width: 100%;
    background-color: rgb(67, 67, 67);
    position: absolute;
    left: 0;
    bottom: 0;
}
#left-wall {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: rgb(67, 67, 67);
}
#right-wall {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: rgb(67, 67, 67);
}
#ceiling {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 100%;
    background-color: rgb(67, 67, 67);
}

/* Menu */
.button {
    border: 1px solid black;
    border-radius: 10px;
    width: max-content;
    cursor: pointer;
    padding: 0.5em;
    margin : 20px;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.349);
    background-color: white;

    &:hover {
        background-color: rgba(208, 206, 206, 0.791);
    }
    p {
        margin: 0;
    }
}

#scale {
    width: 20px;
    height: 5px;
    position: absolute;
    bottom: 220px;
    background-color: red;
    z-index: 10;
    p {
        position: absolute;
        top: -7px;
        left: 25px;
        text-wrap: nowrap;
        width: 190px;
        margin: 0;
        color: white;
    }
}