html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: black;
}

input[type='range'], input[type="checkbox"] {
    accent-color: green;
    cursor: pointer;
}

/* .underwaterParticle {
    filter: hue-rotate(180deg);
} */

/* #region Playground, walls, scale */
#playground {
    position: relative;
    height: 100vh;
    aspect-ratio: 1/1;
    border: none;
    box-sizing: border-box;
    background-color: white;
}

#floor {
    height: 20px;
    width: 100%;
    background-color: rgb(67, 67, 67);
    position: absolute;
    left: 0;
    bottom: 0;
}
#left-wall {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: rgb(67, 67, 67);
}
#right-wall {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: rgb(67, 67, 67);
}
#ceiling {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 100%;
    background-color: rgb(67, 67, 67);
}
#scale {
    width: 20px;
    height: 5px;
    position: absolute;
    bottom: 220px;
    background-color: red;
    z-index: 10;
    p {
        position: absolute;
        top: -7px;
        left: -68px;
        text-wrap: nowrap;
        width: 190px;
        margin: 0;
        color: black;
    }
}
/* #endregion */

/* #region Buttons and tools */
.menu {
    margin: 1.4em;

    label {
        padding: 5px;
        color: white;
    }
    input {
        margin-top: auto;
        margin-bottom: auto;
        max-height: 28px;
        font-size: 18px;
    }
    input[type="checkbox"] {
        margin: 5px;
    }
    label, output {
        margin-top: auto;
        margin-bottom: auto;
    }
    output {
        color: white;
        font-size: 20px;
        font-weight: bold;
        min-width: 30px;
        text-align: center;
    }
}

.subMenuContainer {
    color: black;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;

    h2 {
        color: white;
    }
}

#particleTool, #zoneTool, #objectTool, #inspectorTool ,#pusherTool {
    width: 100%;
    display: none;
    flex-direction: row;
    max-height: 58vh;
    overflow-y: auto;
    color: white;
}

.menuColumn {
    display: flex;
    padding: 10px;
    flex-direction: column;

    label {
        cursor: pointer;
    }
    div {
        display: flex;
    }
    input[type="checkbox"], input[type="color"] {
        width: 30%;
        cursor: pointer;
        justify-self: right;
        margin-left: auto;
        padding: none;
    }
    input[type="color"] {
        margin-right: 4px;
    }
}

.button {
    border: 1px solid black;
    border-radius: 0px;
    width: auto;
    max-height: 1.1em;
    cursor: pointer;
    padding: 0.5em;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.349);
    background-color: white;
    margin: auto 0 auto 0;

    &:hover {
        background-color: rgba(208, 206, 206, 0.791);
    }
    p {
        margin: 0;
    }
}

#airDensity {
    margin-right: 20px;
    max-width: 75px;
}

.apply {
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: none;
    padding: 10px 20px;
    margin: 0.8em 0.8em 0.8em auto;
    align-self: self-end;

    &:hover {
        background-color: rgb(0, 72, 0);
    }
}

#mass {
    cursor: no-drop;
}

/* Frame counter */
#sideMenu {
    position: fixed;
    left : 100vh;
    bottom: 0;
    z-index: 10;
    display: block;
    color: green;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;

    .button {
        font-size: 16px;
        margin: 0px;
        width: 100%;
        text-align: center;
        border-radius: 20px;
    }
}

#clearPlayground {
    color: red;
}
/* #endregion */

/*#region Tutorial and modal window */
#tutorial {
    background-image: url(../images/question-mark.svg);
    background-size: contain;
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}
dialog {
    border-radius: 25px;

    h2 {
        margin: 0 20px;
    }
}
::backdrop {
    background-image: linear-gradient(
      -45deg,
      rgb(228, 228, 228),
      rgb(0, 0, 0)
      
    );
    opacity: 0.75;
}
#closeButton {
    position: absolute;
    top : 0;
    right: 0px;
    margin: 14px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    outline: none;

    &:active {
        border: none;
    }
}
/* #endregion */
